{% extends 'Booking/base.html' %}

{% block body %}

<div class="container">
    <h1>Welcome to Already Booked Page</h1>
    <h4>Enter your dtails to check-in</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1">Booking ID</label>
          <input type="text" class="form-control" name="booking_id" id="bookingId" placeholder="Enter Booking ID">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    
</div>

{% endblock %}